body{
    background-image: url('./assets/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.heading{
    font-size: 47px;
    color: rgb(103, 45, 219);
    text-align: center;
}
.flex-col{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 500px;
}
.flex-col button{
  background-color: rgba(240, 248, 255, 0);
  border: none;
  color: aliceblue;
  font-size: 40px;
  cursor: pointer;
}
.flex-col #play-button{
    cursor: pointer;
    animation: moveUpDown 4s infinite;
}

@keyframes moveUpDown {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}